:root {
  --primary-red: hsl(0, 78%, 62%);
  --primary-cyan: hsl(180, 62%, 55%);
  --primary-orange: hsl(34, 97%, 64%);
  --primary-blue: hsl(212, 86%, 64%);
  --neutral-dark: hsl(234, 12%, 34%);
  --neutral-gray: hsl(229, 6%, 66%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: var(--neutral-dark);
  background-color: hsl(0, 0%, 98%);
  line-height: 1.5;
}

.top {
  text-align: center;
  padding: 50px 20px;
  margin-bottom: 20px;
}

h1 {
  font-weight: 200;
  font-size: 1.75em;
  color: var(--neutral-dark);
}

h2 {
  font-weight: 600;
  font-size: 1.75em;
  color: var(--neutral-dark);
  margin-bottom: 15px;
}

.top p {
  color: var(--neutral-gray);
  max-width: 500px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding: 0 20px 50px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.side-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.middle-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card {
  background: white;
  border-radius: 8px;
  padding: 30px;
  width: 350px;
  max-width: 100%;
  box-shadow: 0 15px 30px -10px rgba(131, 166, 210, 0.5);
  border-top: 4px solid transparent;

  display: flex;
  flex-direction: column;
}

.card h3 {
  font-size: 1.25em;
  margin-bottom: 10px;
  color: var(--neutral-dark);
}

.card p {
  font-size: 0.85em;
  color: var(--neutral-gray);
  margin-bottom: 30px;
}

.card img {
  align-self: flex-end;
  width: 60px;
}

.supervisor {
  border-color: var(--primary-cyan);
}
.team-builder {
  border-color: var(--primary-red);
}
.karma {
  border-color: var(--primary-orange);
}
.calculator {
  border-color: var(--primary-blue);
}

footer {
  display: none;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}
